[workspace]
members = ["codegen"]

[package]
name = "worktable"
version = "0.3.0"
edition = "2021"
authors = ["PathScale"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eyre = "0.6"
derive_more = { version = "1.0.0", features = ["from", "error", "display"] }
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
csv = "1"
