[workspace]
members = ["codegen", "performance_measurement",  "performance_measurement/codegen"]

[package]
name = "worktable"
version = "0.3.10"
edition = "2021"
authors = ["Handy-caT"]
license = "MIT"
repository = "https://github.com/pathscale/WorkTable"
description = "WorkTable is in-memory storage"

[features]
perf_measurements = ["dep:performance_measurement", "dep:performance_measurement_codegen"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
derive_more = { version = "1.0.0", features = ["from", "error", "display", "into"] }
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
smart-default = {version = "0.7.1"}
rkyv = {version = "0.7.45", features = ["uuid"]}
csv = "1"
once_cell = { version = "1.19.0"}
lockfree = { version = "0.5.1"}
worktable_codegen = {path = "codegen", version = "0.1.0"}
scc = "2.1.16"
futures = "0.3.30"
uuid = {version = "1.10.0", features = ["v4"]}

performance_measurement_codegen = {path = "performance_measurement/codegen", version = "0.1.0", optional = true}
performance_measurement = {path = "performance_measurement", version = "0.1.0", optional = true}

[dev-dependencies]
eyre = "0.6.12"